$column-gap: 0;
@import "../node_modules/bulma/bulma.sass";

$acr-color: #409e2f;
$acr-color-hl: #2b6920;
$project-owner-color: #08bdbd;
$project-owner-color-hl: #057575;
$verifier-color: #f21b3f;
$verifier-color-hl: #a31129;
$public-color: #54428e;
$public-color-hl: #3b2f64;
$settings-color: #397367;
$settings-color-hl: #2a534b;

.is-acr {
    background: $acr-color;
}
.is-project-owner {
    background: $project-owner-color;
}
.is-verifier {
    background: $verifier-color;
}
.is-public {
    background: $public-color;
}
.is-settings {
    background: $settings-color;
}
.is-acr-hl {
    background: $acr-color-hl;
}
.is-project-owner-hl {
    background: $project-owner-color-hl;
}
.is-verifier-hl {
    background: $verifier-color-hl;
}
.is-public-hl {
    background: $public-color-hl;
}
.is-settings-hl {
    background: $settings-color-hl;
}

.icon-container {
    text-align: center;
    padding: 0;
    margin: 0;
}

html,body,#acr,#columns { height: 100%; padding: 0; margin: 0;}

.column {
    height: 100%;
}

.big-icon {
    color: white;
    height: 8rem;
    width: 8rem;
}

.last-thing {
    margin-top: auto;
    align-self: flex-end;
}

.has-padding {
    padding: 1rem;
}

.thicc-rule {
    height: 1rem;
}